﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ShopBridge</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/alertify")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/bundles/fontawesome")
</head>
<body>
    <div class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img src="~/Images/logo.png" />
            </div>
            <div class="text-right" style="margin-top:20px">
                <a id="lbLogout" href="@Url.Action("LogOff", "Login")" style="color:#327a81"><i class="fa fa-sign-out fa-fw"></i>Logout</a>

            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - ShopBridge</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
