﻿@model InventoryMgmt.Models.VMProduct
@{
    ViewBag.Title = "Create";
}

<script src="~/Themes/ckeditor_4.14.0_standard/ckeditor/ckeditor.js"></script>

<div class="container">
    <section class="main-section">
        <section class="inner-section">
            <div class="page-heading">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-lg-12 col-sm-12">
                        <div class="col-xs-12 col-sm-12 col-lg-12 col-sm-12" style="margin-top:10px;margin-bottom:10px">
                            <a href="@Url.Action("GetAllProducts","Product")" style="float:right"><i class="fa fa-angle-left pad-r5"></i> Back to List</a>
                        </div>
                    </div>
                </div>
            </div>
            <form id="fmProduct">
                <div class="panel panel-primary applicant-details">
                    <div class="panel-heading ternary-color-bg">Add Product</div>
                    <div class="panel-body">
                      
                            <div class="applicant-details">
                                @Html.HiddenFor(model => model.ProductId)
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Name</label>
                                            @Html.TextBoxFor(model => model.Name, new { @class = "form-control", required = "required" })
                                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Price</label>
                                            @Html.TextBoxFor(model => model.Price, new { @class = "form-control", required = "required" })
                                            @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Upload Image</label>
                                            @*<input type="file" class="form-control file" id="file" onchange="fileCheck(this)" />*@
                                            @Html.TextBoxFor(model => model.Image, new { type = "file", @onchange = "fileCheck(this)", @class = "form-control file" })
                                        </div>
                                    </div>
                                    <div class="col-md-1">
                                        <br />
                                        <a style="display:none" href="javascript:void(0)" onclick="OpenAttachment(0)" id="Preview">Preview</a>
                                    </div>
                                    <div class="col-md-1">
                                        <br />
                                        <a style="display:none" href="javascript:void(0)" onclick="ShowAttachment()" id="View">View</a>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Description</label>
                                            <div class="col-md-12">
                                                @Html.TextAreaFor(model => model.Descrption, htmlAttributes: new { name = "editor", id = "editor", rows = "10", cols = "80" })
                                                <script>
                                                    CKEDITOR.replace("editor");
                                                </script>
                                                @Html.ValidationMessageFor(model => model.Descrption, "", new { @class = "text-danger" })
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <input type="button" value="Save" id="btnSave" class="btn btn-primary" style="margin-top:20Px"/>
                       
                    </div>
                </div>
            </form>
        </section>
    </section>
</div>
<div class="modal fade" id="dvAppAttachment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Attachment</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <img id="imgAttachment" class="img-responsive" src="" alt="Attachment" height="300px" width="300px" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    @Scripts.Render("~/js/alertify")
    @*@Scripts.Render("~/bundles/jqueryval")*@
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script>
    var ImageDetail = [];
    var ImageSrc = "";
    var ProductId = 0;
    var JsonObject = @Html.Raw(Json.Encode(Model));
    var IsValid = true;

    $(document).ready(function () {
        if (JsonObject != null) {
            if (JsonObject.Description != null && JsonObject.Description != "") {
                $('textarea#editor').val(JsonObject.Description);
            }
            if (JsonObject.Image != null) {
                $('#View').show();
                $('#Preview').hide();
                Img = {}
                Img.Id = 0;
                Img.Attachment = JsonObject.Image;
                ImageDetail.push(Img);
                ImageSrc = JsonObject.Image;
            }
        }
    });

        function ShowAttachment() {

            $('#imgAttachment').attr('src', ImageSrc);
            $('#dvAppAttachment').modal('show');
        }
    function fileCheck(obj) {
        debugger;
        var fileExtension = ['jpeg', 'jpg', 'png', 'bmp'];
        if ($.inArray($(obj).val().split('.').pop().toLowerCase(), fileExtension) == -1) {
            alertify.alert('<b><i class="fa fa-exclamation-circle pad-r5 text-danger"></i>Invalid Extension!</b>', 'Only <b>.jpeg, .jpg, .png, .bmp, .pdf</b> formats are allowed.', function () { }).set('movable', false);
            obj.value = "";
            $('#Preview').hide();
            return;
        }
        if (obj.files[0].size > 5242880) {
            debugger;
            alertify.alert('<b><i class="fa fa-exclamation-circle pad-r5 text-danger"></i>Limit Exceed!</b>', 'Maximum 5MB allowed.', function () { });
            obj.value = "";
            $('#Preview').hide();
            IsValid = false;
            return;
        }
        else {
            var i = $('.file').length - 1;
            IsValid = true;
            if (obj.files && obj.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    debugger;

                    ImageDetail.splice(0, 1);
                    ImageDetail.push({ Id: i, Attachment: e.target.result });
                    var json = JSON.stringify(ImageDetail);

                    $('#Preview')
                        .attr('href', "javascript:void(0)").show();
                    $('#View').hide();

                };
                reader.readAsDataURL(obj.files[0]);
            }
        };
    }
    function OpenAttachment(Id) {
        imgTarget = ImageDetail[0].Attachment;

        $('#imgAttachment').attr('src', imgTarget);
        $('#dvAppAttachment').modal('show');
    }

    $("#btnSave").click(function () {
        var desc = CKEDITOR.instances.editor.getData();

        if (!$('#fmProduct').valid() || (desc == null || desc == "") || IsValid == false) {
            if (desc == null || desc == "") {
                alertify.alert('<b><i class="fa fa-exclamation-circle pad-r5 text-danger"></i>Required!</b>', 'Please add description for product', function () { });
            }
            if (IsValidIsValid == false) {
                alertify.alert('<b><i class="fa fa-exclamation-circle pad-r5 text-danger"></i>Required!</b>', 'Please upload Image', function () { });
            }
            return false
        }

        var desc = CKEDITOR.instances.editor.getData();
        var model = $('#fmProduct').serialize() + "&ImageDetail=" + JSON.stringify(ImageDetail) + "&Desc=" + desc;
        $.ajax({
            type: "POST",
            enctype:"multipart/form-data" ,
            url: '@Url.Action("Create", "Product")',
            data: model,
            success: function (data) {
                if (data != null && data != '' && data != undefined) {
                    alertify.set('notifier', 'position', 'top-center');
                    if (data.success) {
                        var notification = alertify.notify(data.success, 'success', 0);
                        if (window.innerWidth > 480) {
                            $(notification.element).attr('style', 'width:480px');
                        } else {
                            $(notification.element).attr('style', 'width:300px');
                        }
                        setTimeout(function () { window.location.href = '@Url.Action("GetAllProducts", "Product")'; }, 3000);
                    }
                    else {
                        var notification = alertify.notify(data.error, 'error', 0);
                        if (window.innerWidth > 480) {
                            $(notification.element).attr('style', 'width:480px');
                        } else {
                            $(notification.element).attr('style', 'width:300px');
                        }
                    }
                    setTimeout(function () { $(notification.element).fadeOut(5000); }, 3000);
                }
            },
            error: function () { }
        });
    });
    </script>
}