﻿@model InventoryMgmt.Models.VMProduct
@{
    ViewBag.Title = "GetAllProducts";
}
<section>
    <div class="row btnContent">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <a href="javascript:void(0)" onclick="AddProduct()" class="btn btn-primary button-control" id="btnAddProduct" style="cursor:pointer !important;"><i class="fa fa-plus" style="margin-right:5px"></i>Add Product</a>
        </div>
    </div>
    <div class="table-users">
        <div class="header">Product List</div>
        <table cellspacing="0" id="datatable">
            <thead>
                <tr>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @if (ViewBag.lstProduct != null)
                {
                    if (ViewBag.lstProduct.Count > 0)
                    {
                        foreach (var objProduct in ViewBag.lstProduct)
                        {
                            <tr>
                                @if (@objProduct.Image != null)
                                {
                                    <td class="imgcls"><img src="@objProduct.Image" height=100 width=100></td>
                                }
                                else
                                {
                                    <td class="imgcls">
                                        <img src="~/Images/noimage.png" height=100 width=100>
                                    </td>
                                }
                                <td><a href="@Url.Action("ProductDetail","Product")?id=@objProduct.ProductId" target="_blank" style="cursor:pointer">@objProduct.Name</a></td>
                                <td class="Description">@objProduct.Descrption</td>
                                <td>@objProduct.Price</td>
                                <td style="text-align: center">
                                    <a onclick="EditProduct(@objProduct.ProductId)" style="cursor:pointer" title="Edit Detail" class="mar-r20"><i class="fa fa-edit"></i></a>
                                    <a onclick="DeleteProduct(@objProduct.ProductId)" style="cursor:pointer" title="Delete Product"><i class="fa fa-trash" style="color:red"></i></a>
                                </td>
                            </tr>
                        }
                    }

                    else
                    {
                        <tr>
                            <td colspan="5" class="text-center">
                                No Record found
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="5" class="text-center">
                            No Record found
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>
@section Scripts{
    @Scripts.Render("~/js/alertify")
    @Scripts.Render("~/datatables")
    <script type="text/javascript">
            $(".Description").each(function () {
                debugger;
                htmlObject = this.textContent;
                this.innerHTML = htmlObject;
        });

        function EditProduct(ProductId) {
            window.location = '@Url.Action("Create", "Product")?PId=' + ProductId;
        }
        function AddProduct() {
            window.location = '@Url.Action("Create", "Product")';
        }
        function DeleteProduct(ProductId) {
            debugger;
            alertify.confirm('<b><i class="fa fa-question-circle pad-r5 "></i>Confirmation!</b>', '<p>Are you sure you want to delete this Product ?</p>',
               function () {
                   $.ajax({
                       type: "POST",
                       url: '@Url.Action("DeleteProduct", "Product")',
                       data: { ProductId: ProductId },
                       success: function (data) {
                           alertify.set('notifier', 'position', 'top-center');
                           if (data.success) {
                               var notification = alertify.notify(data.success, 'success', 0);
                               if (window.innerWidth > 480) {
                                   $(notification.element).attr('style', 'width:480px');
                               } else {
                                   $(notification.element).attr('style', 'width:300px');
                               }
                           }
                           else {
                               var notification = alertify.notify(data.error, 'error', 0);
                               if (window.innerWidth > 480) {
                                   $(notification.element).attr('style', 'width:480px');
                               } else {
                                   $(notification.element).attr('style', 'width:300px');
                               }
                           }
                           setTimeout(function () { $(notification.element).fadeOut(5000); }, 3000);
                           setTimeout(function () { window.location.href = '@Url.Action("GetAllProducts", "Product")'; }, 3000);
                       },
                       error: function () {
                           alert("An error has occured!!!");
                       }
                   });
               }, function () { }).set({ 'movable': false, 'closable': false, 'className': 'button-control', 'labels': { ok: 'Yes', cancel: 'No' } });
        }
        $(document).ready(function () {
            setDataTable();
        });
        function setDataTable() {
            $("#datatable").DataTable({
                "sDom": '<"row view-filter"<"col-sm-12"<"pull-left"l><"pull-right"f><"clearfix">>>t<"row view-info"<"col-sm-12"<"pull-left"i><"pull-right"p>>>',
                "ordering": false
            });
        }
    </script>

}
