﻿@model InventoryMgmt.Models.VMProduct
@{
    ViewBag.Title = "ProductDetail";
}

<link href="~/Content/ProductDetail.css" rel="stylesheet" />
<div class="container">
    <div class="page-heading">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-lg-12 col-sm-12">
                <div class="col-xs-12 col-sm-12 col-lg-12 col-sm-12" style="margin-top:10px;margin-bottom:10px">
                    <a href="@Url.Action("GetAllProducts","Product")" style="float:right;color:#327a81"><i class="fa fa-angle-left pad-r5"></i> Back to List</a>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="container-fliud">
            <div class="wrapper row">
                <div class="preview col-md-6">

                    <div class="preview-pic tab-content">
                        <div class="tab-pane active" id="pic-1">
                            @if (@Model.Image != null)
                            {
                                <img src="@Model.Image" height="300px" width="300px" />
                            }
                            else
                            {
                                <img src="~/Images/noimage.png" height="300px" width="300px"/>
                            }
                        </div>
                    </div>
                </div>
                <div class="details col-md-6">
                    <h3 class="product-title" id="hdName">@Model.Name</h3>

                    <p class="product-description">@Model.Descrption</p>
                    <h4 class="price">current price: <span><i class="fa fa-rupee"></i> @Model.Price</span></h4>

                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{

    <script type="text/javascript">
        $(".product-description").each(function () {
            debugger;
            htmlObject = this.textContent;
            this.innerHTML = htmlObject;
        });
    </script>
}