﻿@model InventoryMgmt.Models.VMLogin
@{
    Layout = null;
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>

    <link href="~/Content/fontawesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</head>
<body>
    <div class="container-fluid">
        <div class="container">
            <div class="row" style="margin-top:30px">
                <div class="col-lg-4"></div>
                <div class="col-lg-4">
                    @using (Html.BeginForm("Login", "Login", FormMethod.Post, new { id = "frmLogin", autocomplete = "off" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)
                        if (TempData["Login_Status"] != null)
                        {
                            <div class="alert alert-danger alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <strong>Error!</strong> @TempData["Login_Status"]
                            </div>
                            <label id="msg"></label>
                        }
                        <div class="panel panel-default">
                            <div class="panel-heading">Login</div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>User Name</label>
                                            @Html.TextBoxFor(model => model.UserName, new { @class = "form-control", @autocomplete = "off" })
                                            @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Password</label>
                                            @Html.TextBoxFor(model => model.UserPassword, new { @class = "form-control", @autocomplete = "off", @type = "Password" })
                                            @Html.ValidationMessageFor(model => model.UserPassword, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="panel-footer text-right">
                                <button type="submit" class="button-control" id="btnLogin">Login</button>
                            </div>
                        </div>
                    }

                </div>
            </div>

        </div>
    </div>
</body>
</html>
